Requirement already satisfied: onnx in /opt/conda/lib/python3.7/site-packages (1.7.0)
Requirement already satisfied: typing-extensions>=3.6.2.1 in /opt/conda/lib/python3.7/site-packages (from onnx) (3.7.4.2)
Requirement already satisfied: protobuf in /opt/conda/lib/python3.7/site-packages (from onnx) (3.11.4)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from onnx) (1.18.4)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from onnx) (1.14.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from protobuf->onnx) (46.1.3.post20200325)
Note: you may need to restart the kernel to use updated packages.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import cassandra
import pyspark
import re
import os
import random
from random import randint, randrange
import matplotlib.pyplot as plt
from IPython.display import display, Markdown
from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer
from pyspark.ml.clustering import KMeans
import seaborn as sns
from pyspark.ml.stat import Correlation
from pyspark.mllib.linalg.distributed import RowMatrix
from pyspark.ml.feature import PCA, Imputer
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.sql.functions import col, asc
from pyspark.sql.functions import isnan
from pyspark.sql.functions import udf
from pyspark.sql import functions as F
import numpy as np
import itertools
from sklearn.metrics import confusion_matrix
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.linalg import Vectors
from pyspark.ml.tuning import CrossValidatorModel
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

from pyspark.ml import Pipeline
import pickle

In [2]:
#Helper for pretty formatting for Spark DataFrames
def showDF(df, limitRows =  5, truncate = True):
    if(truncate):
        pd.set_option('display.max_colwidth', 50)
    else:
        pd.set_option('display.max_colwidth', -1)
    pd.set_option('display.max_rows', limitRows)
    display(df.limit(limitRows).toPandas())
    pd.reset_option('display.max_rows')

In [3]:
def correlation_matrix(df, corr_columns, method='pearson'):
    vector_col = "corr_features"
    assembler = VectorAssembler(inputCols=corr_columns, outputCol=vector_col)
    df_vector = assembler.transform(df).select(vector_col)
    matrix = Correlation.corr(df_vector, vector_col, method)

    result = matrix.collect()[0]["pearson({})".format(vector_col)].values
    return pd.DataFrame(result.reshape(-1, len(corr_columns)), columns=corr_columns, index=corr_columns)

In [4]:
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('Model 1')
    plt.xlabel('Model 2')

In [5]:
from cassandra.cluster import Cluster

cluster = Cluster(['dse'])
session = cluster.connect()

In [6]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS accelerate 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

In [7]:
session.set_keyspace('accelerate')

In [8]:
query = "CREATE TABLE IF NOT EXISTS diabetes \
                                   (Id int, timesPregnant int, plasmaGlucose int, bloodPressure int, \
                                   tricepThickness int, serumInsulin int, bmi float, diabetesPedegree float, \
                                   age int, label int, PRIMARY KEY (Id))"
session.execute(query)

In [9]:
fileName = 'data/pima-indians-diabetes.csv'
input_file = open(fileName, 'r')
i = 1
for line in input_file:
    iD = i
    row = line.split(',')

    query = "INSERT INTO diabetes (Id, timesPregnant, plasmaGlucose, bloodPressure, \
                                   tricepThickness, serumInsulin, bmi, diabetesPedegree, \
                                   age, label)"
    query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    session.execute(query, (int(iD), int(row[0]), int(row[1]), int(row[2]), int(row[3]), int(row[4]), float(row[5]), float(row[6]), int(row[7]), int(row[8])))
    i = i + 1

In [10]:
spark = SparkSession.builder.appName('demo').master("local").getOrCreate()
diabetesDF = spark.read.format("org.apache.spark.sql.cassandra").options(table="diabetes", keyspace="accelerate").load()

print ("Table Row Count: ")
print (diabetesDF.count())

Table Row Count:
768

In [11]:
print(diabetesDF.schema.names)
print([diabetesDF.where((col(c_name) == 0)).count() for c_name in diabetesDF.schema.names])

['id', 'age', 'bloodpressure', 'bmi', 'diabetespedegree', 'label', 'plasmaglucose', 'seruminsulin', 'timespregnant', 'tricepthickness']
[0, 0, 35, 11, 0, 500, 5, 374, 111, 227]

In [12]:
diabetesDF = diabetesDF.withColumn("bloodpressure", F.when(F.col("bloodpressure")==0, float("nan")).otherwise(F.col("bloodpressure")))
diabetesDF = diabetesDF.withColumn("plasmaglucose", F.when(F.col("plasmaglucose")==0, float("nan")).otherwise(F.col("plasmaglucose")))
diabetesDF = diabetesDF.withColumn("tricepthickness", F.when(F.col("tricepthickness")==0, float("nan")).otherwise(F.col("tricepthickness")))
diabetesDF = diabetesDF.withColumn("seruminsulin", F.when(F.col("seruminsulin")==0, float("nan")).otherwise(F.col("seruminsulin")))
diabetesDF = diabetesDF.withColumn("bmi", F.when(F.col("bmi")==0, float("nan")).otherwise(F.col("bmi")))

In [13]:
print(diabetesDF.schema.names)
print([diabetesDF.where((col(c_name) == 0)).count() for c_name in diabetesDF.schema.names])

['id', 'age', 'bloodpressure', 'bmi', 'diabetespedegree', 'label', 'plasmaglucose', 'seruminsulin', 'timespregnant', 'tricepthickness']
[0, 0, 0, 0, 0, 500, 0, 0, 111, 0]

In [14]:
imputer = Imputer()
imputer.setInputCols(["plasmaglucose", "bloodpressure", "bmi", "tricepthickness", "seruminsulin"])
imputer.setOutputCols(["out_plasmaglucose", "out_bloodpressure", "out_bmi", "out_tricepthickness", "out_seruminsulin"])
model = imputer.fit(diabetesDF)
#model.setInputCols(["plasmaglucose", "bloodpressure", "bmi"])
diabetesDF_imputed = model.transform(diabetesDF)
showDF(diabetesDF_imputed,100)

,id,age,bloodpressure,bmi,diabetespedegree,label,plasmaglucose,seruminsulin,timespregnant,tricepthickness,out_bmi,out_plasmaglucose,out_tricepthickness,out_seruminsulin,out_bloodpressure
0,23,41,90.0,39.799999,0.451,1,196.0,NaN,7,NaN,39.799999,196.0,29.15342,155.548223,90.000000
1,114,25,62.0,34.000000,0.391,0,76.0,NaN,4,NaN,34.000000,76.0,29.15342,155.548223,62.000000
2,660,27,82.0,34.200001,1.292,1,80.0,70.0,3,31.0,34.200001,80.0,31.00000,70.000000,82.000000
3,53,30,66.0,24.400000,0.342,0,88.0,23.0,5,21.0,24.400000,88.0,21.00000,23.000000,66.000000
4,110,24,85.0,37.400002,0.247,1,95.0,36.0,0,25.0,37.400002,95.0,25.00000,36.000000,85.000000
5,91,21,55.0,19.100000,0.258,0,80.0,NaN,1,NaN,19.100000,80.0,29.15342,155.548223,55.000000
6,128,23,58.0,33.299999,0.261,0,118.0,94.0,1,36.0,33.299999,118.0,36.00000,94.000000,58.000000
7,363,65,108.0,39.200001,0.305,0,103.0,NaN,5,37.0,39.200001,103.0,37.00000,155.548223,108.000000
8,251,42,52.0,31.200001,0.380,0,106.0,NaN,9,NaN,31.200001,106.0,29.15342,155.548223,52.000000
9,744,45,94.0,32.700001,0.734,1,140.0,NaN,9,NaN,32.700001,140.0,29.15342,155.548223,94.000000
10,310,30,68.0,32.900002,0.875,1,124.0,205.0,2,28.0,32.900002,124.0,28.00000,205.000000,68.000000
11,247,41,68.0,31.200001,0.258,0,122.0,NaN,10,NaN,31.200001,122.0,29.15342,155.548223,68.000000
12,214,24,65.0,42.599998,0.431,1,140.0,130.0,0,26.0,42.599998,140.0,26.00000,130.000000,65.000000
13,429,26,94.0,40.599998,0.284,0,135.0,145.0,0,46.0,40.599998,135.0,46.00000,145.000000,94.000000
14,117,38,74.0,34.000000,0.220,1,124.0,NaN,5,NaN,34.000000,124.0,29.15342,155.548223,74.000000
15,547,53,76.0,43.599998,1.034,1,187.0,207.0,5,27.0,43.599998,187.0,27.00000,207.000000,76.000000
16,144,42,66.0,32.400002,0.272,1,108.0,NaN,10,NaN,32.400002,108.0,29.15342,155.548223,66.000000
17,718,56,72.0,23.100000,0.595,0,94.0,NaN,10,18.0,23.100000,94.0,18.00000,155.548223,72.000000
18,567,21,72.0,38.599998,0.412,0,99.0,18.0,1,30.0,38.599998,99.0,30.00000,18.000000,72.000000
19,120,21,76.0,23.200001,0.223,0,99.0,51.0,4,15.0,23.200001,99.0,15.00000,51.000000,76.000000
20,504,41,64.0,33.299999,0.738,0,94.0,79.0,7,25.0,33.299999,94.0,25.00000,79.000000,64.000000
21,729,22,88.0,22.900000,0.326,0,175.0,NaN,2,NaN,22.900000,175.0,29.15342,155.548223,88.000000
22,219,32,74.0,29.000000,1.224,1,85.0,NaN,5,22.0,29.000000,85.0,22.00000,155.548223,74.000000
23,695,25,60.0,23.500000,0.191,0,90.0,NaN,2,NaN,23.500000,90.0,29.15342,155.548223,60.000000
24,475,24,64.0,28.900000,0.126,0,114.0,NaN,4,NaN,28.900000,114.0,29.15342,155.548223,64.000000
25,140,28,72.0,36.900002,0.159,0,105.0,325.0,5,29.0,36.900002,105.0,29.00000,325.000000,72.000000
26,308,21,68.0,24.799999,0.143,0,137.0,148.0,0,14.0,24.799999,137.0,14.00000,148.000000,68.000000
27,483,28,58.0,27.799999,0.306,0,85.0,49.0,4,22.0,27.799999,85.0,22.00000,49.000000,58.000000
28,55,42,66.0,34.700001,0.718,0,150.0,342.0,7,42.0,34.700001,150.0,42.00000,342.000000,66.000000
29,441,41,104.0,34.299999,0.435,1,189.0,NaN,0,25.0,34.299999,189.0,25.00000,155.548223,104.000000
30,662,22,76.0,42.900002,1.394,1,199.0,NaN,1,43.0,42.900002,199.0,43.00000,155.548223,76.000000
31,255,44,62.0,27.600000,0.926,1,92.0,258.0,12,7.0,27.600000,92.0,7.00000,258.000000,62.000000
32,331,46,72.0,23.100000,1.476,0,118.0,NaN,8,19.0,23.100000,118.0,19.00000,155.548223,72.000000
33,129,40,88.0,34.500000,0.403,1,117.0,145.0,1,24.0,34.500000,117.0,24.00000,145.000000,88.000000
34,530,31,65.0,24.600000,0.660,0,111.0,NaN,0,NaN,24.600000,111.0,29.15342,155.548223,65.000000
35,631,34,64.0,27.400000,0.732,1,114.0,NaN,7,NaN,27.400000,114.0,29.15342,155.548223,64.000000
36,551,21,70.0,27.400000,0.204,0,116.0,NaN,1,28.0,27.400000,116.0,28.00000,155.548223,70.000000
37,649,42,84.0,28.299999,0.260,1,136.0,130.0,11,35.0,28.299999,136.0,35.00000,130.000000,84.000000
38,701,26,76.0,35.900002,0.483,0,122.0,200.0,2,27.0,35.900002,122.0,27.00000,200.000000,76.000000
39,646,30,74.0,39.400002,0.134,0,157.0,440.0,2,35.0,39.400002,157.0,35.00000,440.000000,74.000000
40,476,59,84.0,27.299999,0.231,0,137.0,NaN,0,27.0,27.299999,137.0,27.00000,155.548223,84.000000
41,534,31,NaN,29.799999,0.501,0,91.0,NaN,6,NaN,29.799999,91.0,29.15342,155.548223,72.405184
42,438,28,75.0,29.900000,0.434,0,147.0,NaN,5,NaN,29.900000,147.0,29.15342,155.548223,75.000000
43,324,43,90.0,26.799999,0.731,1,152.0,29.0,13,33.0,26.799999,152.0,33.00000,29.000000,90.000000
44,439,21,70.0,18.200001,0.147,0,97.0,NaN,1,15.0,18.200001,97.0,15.00000,155.548223,70.000000
45,373,21,64.0,35.799999,0.545,0,84.0,66.0,0,22.0,35.799999,84.0,22.00000,66.000000,64.000000
46,332,25,58.0,32.700001,0.166,0,87.0,52.0,2,16.0,32.700001,87.0,16.00000,52.000000,58.000000
47,623,45,94.0,40.799999,1.461,0,183.0,NaN,6,NaN,40.799999,183.0,29.15342,155.548223,94.000000
48,33,22,58.0,24.799999,0.267,0,88.0,54.0,3,11.0,24.799999,88.0,11.00000,54.000000,58.000000
49,132,33,56.0,33.299999,1.114,1,122.0,NaN,9,NaN,33.299999,122.0,29.15342,155.548223,56.000000
50,535,24,56.0,33.299999,1.251,0,77.0,56.0,1,30.0,33.299999,77.0,30.00000,56.000000,56.000000
51,380,35,100.0,43.400002,1.021,0,93.0,72.0,0,39.0,43.400002,93.0,39.00000,72.000000,100.000000
52,605,36,NaN,28.400000,0.212,1,183.0,NaN,4,NaN,28.400000,183.0,29.15342,155.548223,72.405184
53,719,24,60.0,35.500000,0.415,0,108.0,178.0,1,46.0,35.500000,108.0,46.00000,178.000000,60.000000
54,340,41,84.0,39.900002,0.331,1,178.0,NaN,7,NaN,39.900002,178.0,29.15342,155.548223,84.000000
55,706,28,80.0,39.799999,0.177,0,80.0,NaN,6,36.0,39.799999,80.0,36.00000,155.548223,80.000000
56,501,21,90.0,25.200001,0.313,0,117.0,71.0,2,19.0,25.200001,117.0,19.00000,71.000000,90.000000
57,423,21,64.0,40.599998,0.496,0,102.0,78.0,0,46.0,40.599998,102.0,46.00000,78.000000,64.000000
58,274,21,78.0,33.200001,0.422,0,71.0,45.0,1,50.0,33.200001,71.0,50.00000,45.000000,78.000000
59,185,40,74.0,27.600000,0.244,0,141.0,NaN,4,NaN,27.600000,141.0,29.15342,155.548223,74.000000
60,5,33,40.0,43.099998,2.288,1,137.0,168.0,0,35.0,43.099998,137.0,35.00000,168.000000,40.000000
61,751,22,70.0,31.200001,1.182,1,136.0,NaN,4,NaN,31.200001,136.0,29.15342,155.548223,70.000000
62,28,22,66.0,23.200001,0.487,0,97.0,140.0,1,15.0,23.200001,97.0,15.00000,140.000000,66.000000
63,619,50,82.0,28.200001,1.282,1,112.0,NaN,9,24.0,28.200001,112.0,24.00000,155.548223,82.000000
64,369,22,86.0,27.500000,0.306,0,81.0,66.0,3,16.0,27.500000,81.0,16.00000,66.000000,86.000000
65,420,28,64.0,26.400000,0.219,1,129.0,115.0,3,29.0,26.400000,129.0,29.00000,115.000000,64.000000
66,277,29,60.0,26.500000,0.296,1,106.0,NaN,7,24.0,26.500000,106.0,24.00000,155.548223,60.000000
67,105,27,65.0,39.599998,0.930,0,85.0,NaN,2,NaN,39.599998,85.0,29.15342,155.548223,65.000000
68,313,27,74.0,26.600000,0.433,1,155.0,96.0,2,17.0,26.600000,155.0,17.00000,96.000000,74.000000
69,123,23,74.0,33.599998,0.404,0,107.0,100.0,2,30.0,33.599998,107.0,30.00000,100.000000,74.000000
70,477,29,80.0,33.700001,0.711,1,105.0,191.0,2,45.0,33.700001,105.0,45.00000,191.000000,80.000000
71,42,37,84.0,40.200001,0.696,0,133.0,NaN,7,NaN,40.200001,133.0,29.15342,155.548223,84.000000
72,320,59,78.0,23.500000,0.129,1,194.0,NaN,6,NaN,23.500000,194.0,29.15342,155.548223,78.000000
73,153,42,86.0,34.299999,1.189,1,156.0,155.0,9,28.0,34.299999,156.0,28.00000,155.000000,86.000000
74,178,26,110.0,67.099998,0.319,1,129.0,130.0,0,46.0,67.099998,129.0,46.00000,130.000000,110.000000
75,323,36,70.0,27.400000,0.254,1,124.0,NaN,0,20.0,27.400000,124.0,20.00000,155.548223,70.000000
76,538,67,60.0,21.700001,0.735,0,57.0,NaN,0,NaN,21.700001,57.0,29.15342,155.548223,60.000000
77,248,23,90.0,52.299999,0.427,0,165.0,680.0,0,33.0,52.299999,165.0,33.00000,680.000000,90.000000
78,50,24,NaN,NaN,0.305,0,105.0,NaN,7,NaN,32.457464,105.0,29.15342,155.548223,72.405184
79,733,24,88.0,44.500000,0.646,1,174.0,120.0,2,37.0,44.500000,174.0,37.00000,120.000000,88.000000
80,548,28,68.0,33.099998,0.160,0,131.0,166.0,4,21.0,33.099998,131.0,21.00000,166.000000,68.000000
81,514,22,62.0,27.299999,0.525,0,91.0,NaN,2,NaN,27.299999,91.0,29.15342,155.548223,62.000000
82,95,21,82.0,24.700001,0.761,0,142.0,64.0,2,18.0,24.700001,142.0,18.00000,64.000000,82.000000
83,485,31,NaN,44.200001,0.630,1,145.0,NaN,0,NaN,44.200001,145.0,29.15342,155.548223,72.405184
84,608,25,62.0,19.500000,0.482,0,92.0,41.0,1,25.0,19.500000,92.0,25.00000,41.000000,62.000000
85,758,52,72.0,36.299999,0.258,1,123.0,NaN,0,NaN,36.299999,123.0,29.15342,155.548223,72.000000
86,88,26,68.0,38.500000,0.324,0,100.0,71.0,2,25.0,38.500000,100.0,25.00000,71.000000,68.000000
87,645,27,72.0,27.600000,0.730,0,103.0,152.0,3,30.0,27.600000,103.0,30.00000,152.000000,72.000000
88,82,22,NaN,NaN,0.102,0,74.0,NaN,2,NaN,32.457464,74.0,29.15342,155.548223,72.405184
89,377,22,82.0,25.200001,0.299,0,98.0,84.0,0,15.0,25.200001,98.0,15.00000,84.000000,82.000000
90,49,31,66.0,39.099998,0.344,1,103.0,NaN,7,32.0,39.099998,103.0,32.00000,155.548223,66.000000
91,10,54,96.0,NaN,0.232,1,125.0,NaN,8,NaN,32.457464,125.0,29.15342,155.548223,96.000000
92,657,22,58.0,21.799999,0.155,0,101.0,90.0,2,35.0,21.799999,101.0,35.00000,90.000000,58.000000
93,465,34,98.0,24.000000,1.022,0,115.0,NaN,10,NaN,24.000000,115.0,29.15342,155.548223,98.000000
94,467,22,52.0,27.799999,0.269,0,74.0,36.0,0,10.0,27.799999,74.0,10.00000,36.000000,52.000000
95,225,26,66.0,23.600000,0.666,0,100.0,56.0,1,15.0,23.600000,100.0,15.00000,56.000000,66.000000
96,664,40,80.0,37.900002,0.637,1,145.0,130.0,9,46.0,37.900002,145.0,46.00000,130.000000,80.000000
97,137,21,70.0,30.799999,0.597,0,100.0,50.0,0,26.0,30.799999,100.0,26.00000,50.000000,70.000000
98,612,36,58.0,32.900002,0.593,1,174.0,194.0,3,22.0,32.900002,174.0,22.00000,194.000000,58.000000
99,382,22,68.0,20.000000,0.236,0,105.0,NaN,0,22.0,20.000000,105.0,22.00000,155.548223,68.000000

In [19]:
model.save("/home/jovyan/work/models/imputer_model")

In [25]:
tempDF = diabetesDF_imputed.filter(F.col("out_tricepthickness") != float("nan"))
tempDF = diabetesDF_imputed.filter(F.col("out_seruminsulin") != float("nan"))

print ("Table Row Count: ")
print (tempDF.count())

showDF(tempDF,100)

Table Row Count:
768

,id,age,bloodpressure,bmi,diabetespedegree,label,plasmaglucose,seruminsulin,timespregnant,tricepthickness,out_bmi,out_plasmaglucose,out_tricepthickness,out_seruminsulin,out_bloodpressure
0,23,41,90.0,39.799999,0.451,1,196.0,NaN,7,NaN,39.799999,196.0,29.15342,155.548223,90.000000
1,114,25,62.0,34.000000,0.391,0,76.0,NaN,4,NaN,34.000000,76.0,29.15342,155.548223,62.000000
2,660,27,82.0,34.200001,1.292,1,80.0,70.0,3,31.0,34.200001,80.0,31.00000,70.000000,82.000000
3,53,30,66.0,24.400000,0.342,0,88.0,23.0,5,21.0,24.400000,88.0,21.00000,23.000000,66.000000
4,110,24,85.0,37.400002,0.247,1,95.0,36.0,0,25.0,37.400002,95.0,25.00000,36.000000,85.000000
5,91,21,55.0,19.100000,0.258,0,80.0,NaN,1,NaN,19.100000,80.0,29.15342,155.548223,55.000000
6,128,23,58.0,33.299999,0.261,0,118.0,94.0,1,36.0,33.299999,118.0,36.00000,94.000000,58.000000
7,363,65,108.0,39.200001,0.305,0,103.0,NaN,5,37.0,39.200001,103.0,37.00000,155.548223,108.000000
8,251,42,52.0,31.200001,0.380,0,106.0,NaN,9,NaN,31.200001,106.0,29.15342,155.548223,52.000000
9,744,45,94.0,32.700001,0.734,1,140.0,NaN,9,NaN,32.700001,140.0,29.15342,155.548223,94.000000
10,310,30,68.0,32.900002,0.875,1,124.0,205.0,2,28.0,32.900002,124.0,28.00000,205.000000,68.000000
11,247,41,68.0,31.200001,0.258,0,122.0,NaN,10,NaN,31.200001,122.0,29.15342,155.548223,68.000000
12,214,24,65.0,42.599998,0.431,1,140.0,130.0,0,26.0,42.599998,140.0,26.00000,130.000000,65.000000
13,429,26,94.0,40.599998,0.284,0,135.0,145.0,0,46.0,40.599998,135.0,46.00000,145.000000,94.000000
14,117,38,74.0,34.000000,0.220,1,124.0,NaN,5,NaN,34.000000,124.0,29.15342,155.548223,74.000000
15,547,53,76.0,43.599998,1.034,1,187.0,207.0,5,27.0,43.599998,187.0,27.00000,207.000000,76.000000
16,144,42,66.0,32.400002,0.272,1,108.0,NaN,10,NaN,32.400002,108.0,29.15342,155.548223,66.000000
17,718,56,72.0,23.100000,0.595,0,94.0,NaN,10,18.0,23.100000,94.0,18.00000,155.548223,72.000000
18,567,21,72.0,38.599998,0.412,0,99.0,18.0,1,30.0,38.599998,99.0,30.00000,18.000000,72.000000
19,120,21,76.0,23.200001,0.223,0,99.0,51.0,4,15.0,23.200001,99.0,15.00000,51.000000,76.000000
20,504,41,64.0,33.299999,0.738,0,94.0,79.0,7,25.0,33.299999,94.0,25.00000,79.000000,64.000000
21,729,22,88.0,22.900000,0.326,0,175.0,NaN,2,NaN,22.900000,175.0,29.15342,155.548223,88.000000
22,219,32,74.0,29.000000,1.224,1,85.0,NaN,5,22.0,29.000000,85.0,22.00000,155.548223,74.000000
23,695,25,60.0,23.500000,0.191,0,90.0,NaN,2,NaN,23.500000,90.0,29.15342,155.548223,60.000000
24,475,24,64.0,28.900000,0.126,0,114.0,NaN,4,NaN,28.900000,114.0,29.15342,155.548223,64.000000
25,140,28,72.0,36.900002,0.159,0,105.0,325.0,5,29.0,36.900002,105.0,29.00000,325.000000,72.000000
26,308,21,68.0,24.799999,0.143,0,137.0,148.0,0,14.0,24.799999,137.0,14.00000,148.000000,68.000000
27,483,28,58.0,27.799999,0.306,0,85.0,49.0,4,22.0,27.799999,85.0,22.00000,49.000000,58.000000
28,55,42,66.0,34.700001,0.718,0,150.0,342.0,7,42.0,34.700001,150.0,42.00000,342.000000,66.000000
29,441,41,104.0,34.299999,0.435,1,189.0,NaN,0,25.0,34.299999,189.0,25.00000,155.548223,104.000000
30,662,22,76.0,42.900002,1.394,1,199.0,NaN,1,43.0,42.900002,199.0,43.00000,155.548223,76.000000
31,255,44,62.0,27.600000,0.926,1,92.0,258.0,12,7.0,27.600000,92.0,7.00000,258.000000,62.000000
32,331,46,72.0,23.100000,1.476,0,118.0,NaN,8,19.0,23.100000,118.0,19.00000,155.548223,72.000000
33,129,40,88.0,34.500000,0.403,1,117.0,145.0,1,24.0,34.500000,117.0,24.00000,145.000000,88.000000
34,530,31,65.0,24.600000,0.660,0,111.0,NaN,0,NaN,24.600000,111.0,29.15342,155.548223,65.000000
35,631,34,64.0,27.400000,0.732,1,114.0,NaN,7,NaN,27.400000,114.0,29.15342,155.548223,64.000000
36,551,21,70.0,27.400000,0.204,0,116.0,NaN,1,28.0,27.400000,116.0,28.00000,155.548223,70.000000
37,649,42,84.0,28.299999,0.260,1,136.0,130.0,11,35.0,28.299999,136.0,35.00000,130.000000,84.000000
38,701,26,76.0,35.900002,0.483,0,122.0,200.0,2,27.0,35.900002,122.0,27.00000,200.000000,76.000000
39,646,30,74.0,39.400002,0.134,0,157.0,440.0,2,35.0,39.400002,157.0,35.00000,440.000000,74.000000
40,476,59,84.0,27.299999,0.231,0,137.0,NaN,0,27.0,27.299999,137.0,27.00000,155.548223,84.000000
41,534,31,NaN,29.799999,0.501,0,91.0,NaN,6,NaN,29.799999,91.0,29.15342,155.548223,72.405184
42,438,28,75.0,29.900000,0.434,0,147.0,NaN,5,NaN,29.900000,147.0,29.15342,155.548223,75.000000
43,324,43,90.0,26.799999,0.731,1,152.0,29.0,13,33.0,26.799999,152.0,33.00000,29.000000,90.000000
44,439,21,70.0,18.200001,0.147,0,97.0,NaN,1,15.0,18.200001,97.0,15.00000,155.548223,70.000000
45,373,21,64.0,35.799999,0.545,0,84.0,66.0,0,22.0,35.799999,84.0,22.00000,66.000000,64.000000
46,332,25,58.0,32.700001,0.166,0,87.0,52.0,2,16.0,32.700001,87.0,16.00000,52.000000,58.000000
47,623,45,94.0,40.799999,1.461,0,183.0,NaN,6,NaN,40.799999,183.0,29.15342,155.548223,94.000000
48,33,22,58.0,24.799999,0.267,0,88.0,54.0,3,11.0,24.799999,88.0,11.00000,54.000000,58.000000
49,132,33,56.0,33.299999,1.114,1,122.0,NaN,9,NaN,33.299999,122.0,29.15342,155.548223,56.000000
50,535,24,56.0,33.299999,1.251,0,77.0,56.0,1,30.0,33.299999,77.0,30.00000,56.000000,56.000000
51,380,35,100.0,43.400002,1.021,0,93.0,72.0,0,39.0,43.400002,93.0,39.00000,72.000000,100.000000
52,605,36,NaN,28.400000,0.212,1,183.0,NaN,4,NaN,28.400000,183.0,29.15342,155.548223,72.405184
53,719,24,60.0,35.500000,0.415,0,108.0,178.0,1,46.0,35.500000,108.0,46.00000,178.000000,60.000000
54,340,41,84.0,39.900002,0.331,1,178.0,NaN,7,NaN,39.900002,178.0,29.15342,155.548223,84.000000
55,706,28,80.0,39.799999,0.177,0,80.0,NaN,6,36.0,39.799999,80.0,36.00000,155.548223,80.000000
56,501,21,90.0,25.200001,0.313,0,117.0,71.0,2,19.0,25.200001,117.0,19.00000,71.000000,90.000000
57,423,21,64.0,40.599998,0.496,0,102.0,78.0,0,46.0,40.599998,102.0,46.00000,78.000000,64.000000
58,274,21,78.0,33.200001,0.422,0,71.0,45.0,1,50.0,33.200001,71.0,50.00000,45.000000,78.000000
59,185,40,74.0,27.600000,0.244,0,141.0,NaN,4,NaN,27.600000,141.0,29.15342,155.548223,74.000000
60,5,33,40.0,43.099998,2.288,1,137.0,168.0,0,35.0,43.099998,137.0,35.00000,168.000000,40.000000
61,751,22,70.0,31.200001,1.182,1,136.0,NaN,4,NaN,31.200001,136.0,29.15342,155.548223,70.000000
62,28,22,66.0,23.200001,0.487,0,97.0,140.0,1,15.0,23.200001,97.0,15.00000,140.000000,66.000000
63,619,50,82.0,28.200001,1.282,1,112.0,NaN,9,24.0,28.200001,112.0,24.00000,155.548223,82.000000
64,369,22,86.0,27.500000,0.306,0,81.0,66.0,3,16.0,27.500000,81.0,16.00000,66.000000,86.000000
65,420,28,64.0,26.400000,0.219,1,129.0,115.0,3,29.0,26.400000,129.0,29.00000,115.000000,64.000000
66,277,29,60.0,26.500000,0.296,1,106.0,NaN,7,24.0,26.500000,106.0,24.00000,155.548223,60.000000
67,105,27,65.0,39.599998,0.930,0,85.0,NaN,2,NaN,39.599998,85.0,29.15342,155.548223,65.000000
68,313,27,74.0,26.600000,0.433,1,155.0,96.0,2,17.0,26.600000,155.0,17.00000,96.000000,74.000000
69,123,23,74.0,33.599998,0.404,0,107.0,100.0,2,30.0,33.599998,107.0,30.00000,100.000000,74.000000
70,477,29,80.0,33.700001,0.711,1,105.0,191.0,2,45.0,33.700001,105.0,45.00000,191.000000,80.000000
71,42,37,84.0,40.200001,0.696,0,133.0,NaN,7,NaN,40.200001,133.0,29.15342,155.548223,84.000000
72,320,59,78.0,23.500000,0.129,1,194.0,NaN,6,NaN,23.500000,194.0,29.15342,155.548223,78.000000
73,153,42,86.0,34.299999,1.189,1,156.0,155.0,9,28.0,34.299999,156.0,28.00000,155.000000,86.000000
74,178,26,110.0,67.099998,0.319,1,129.0,130.0,0,46.0,67.099998,129.0,46.00000,130.000000,110.000000
75,323,36,70.0,27.400000,0.254,1,124.0,NaN,0,20.0,27.400000,124.0,20.00000,155.548223,70.000000
76,538,67,60.0,21.700001,0.735,0,57.0,NaN,0,NaN,21.700001,57.0,29.15342,155.548223,60.000000
77,248,23,90.0,52.299999,0.427,0,165.0,680.0,0,33.0,52.299999,165.0,33.00000,680.000000,90.000000
78,50,24,NaN,NaN,0.305,0,105.0,NaN,7,NaN,32.457464,105.0,29.15342,155.548223,72.405184
79,733,24,88.0,44.500000,0.646,1,174.0,120.0,2,37.0,44.500000,174.0,37.00000,120.000000,88.000000
80,548,28,68.0,33.099998,0.160,0,131.0,166.0,4,21.0,33.099998,131.0,21.00000,166.000000,68.000000
81,514,22,62.0,27.299999,0.525,0,91.0,NaN,2,NaN,27.299999,91.0,29.15342,155.548223,62.000000
82,95,21,82.0,24.700001,0.761,0,142.0,64.0,2,18.0,24.700001,142.0,18.00000,64.000000,82.000000
83,485,31,NaN,44.200001,0.630,1,145.0,NaN,0,NaN,44.200001,145.0,29.15342,155.548223,72.405184
84,608,25,62.0,19.500000,0.482,0,92.0,41.0,1,25.0,19.500000,92.0,25.00000,41.000000,62.000000
85,758,52,72.0,36.299999,0.258,1,123.0,NaN,0,NaN,36.299999,123.0,29.15342,155.548223,72.000000
86,88,26,68.0,38.500000,0.324,0,100.0,71.0,2,25.0,38.500000,100.0,25.00000,71.000000,68.000000
87,645,27,72.0,27.600000,0.730,0,103.0,152.0,3,30.0,27.600000,103.0,30.00000,152.000000,72.000000
88,82,22,NaN,NaN,0.102,0,74.0,NaN,2,NaN,32.457464,74.0,29.15342,155.548223,72.405184
89,377,22,82.0,25.200001,0.299,0,98.0,84.0,0,15.0,25.200001,98.0,15.00000,84.000000,82.000000
90,49,31,66.0,39.099998,0.344,1,103.0,NaN,7,32.0,39.099998,103.0,32.00000,155.548223,66.000000
91,10,54,96.0,NaN,0.232,1,125.0,NaN,8,NaN,32.457464,125.0,29.15342,155.548223,96.000000
92,657,22,58.0,21.799999,0.155,0,101.0,90.0,2,35.0,21.799999,101.0,35.00000,90.000000,58.000000
93,465,34,98.0,24.000000,1.022,0,115.0,NaN,10,NaN,24.000000,115.0,29.15342,155.548223,98.000000
94,467,22,52.0,27.799999,0.269,0,74.0,36.0,0,10.0,27.799999,74.0,10.00000,36.000000,52.000000
95,225,26,66.0,23.600000,0.666,0,100.0,56.0,1,15.0,23.600000,100.0,15.00000,56.000000,66.000000
96,664,40,80.0,37.900002,0.637,1,145.0,130.0,9,46.0,37.900002,145.0,46.00000,130.000000,80.000000
97,137,21,70.0,30.799999,0.597,0,100.0,50.0,0,26.0,30.799999,100.0,26.00000,50.000000,70.000000
98,612,36,58.0,32.900002,0.593,1,174.0,194.0,3,22.0,32.900002,174.0,22.00000,194.000000,58.000000
99,382,22,68.0,20.000000,0.236,0,105.0,NaN,0,22.0,20.000000,105.0,22.00000,155.548223,68.000000

In [26]:
assembler = VectorAssembler(
    inputCols=['age', 'out_bloodpressure', 'out_bmi', 'diabetespedegree', 'out_plasmaglucose', 'out_seruminsulin', 'timespregnant', 'out_tricepthickness'],
    outputCol='features', handleInvalid = "keep")

dDF = assembler.transform(diabetesDF_imputed)
showDF(dDF)

,id,age,bloodpressure,bmi,diabetespedegree,label,plasmaglucose,seruminsulin,timespregnant,tricepthickness,out_bmi,out_plasmaglucose,out_tricepthickness,out_seruminsulin,out_bloodpressure,features
0,23,41,90.0,39.799999,0.451,1,196.0,NaN,7,NaN,39.799999,196.0,29.15342,155.548223,90.0,"[41.0, 90.0, 39.79999923706055, 0.451000005006..."
1,114,25,62.0,34.000000,0.391,0,76.0,NaN,4,NaN,34.000000,76.0,29.15342,155.548223,62.0,"[25.0, 62.0, 34.0, 0.39100000262260437, 76.0, ..."
2,660,27,82.0,34.200001,1.292,1,80.0,70.0,3,31.0,34.200001,80.0,31.00000,70.000000,82.0,"[27.0, 82.0, 34.20000076293945, 1.292000055313..."
3,53,30,66.0,24.400000,0.342,0,88.0,23.0,5,21.0,24.400000,88.0,21.00000,23.000000,66.0,"[30.0, 66.0, 24.399999618530273, 0.34200000762..."
4,110,24,85.0,37.400002,0.247,1,95.0,36.0,0,25.0,37.400002,95.0,25.00000,36.000000,85.0,"[24.0, 85.0, 37.400001525878906, 0.24699999392..."

In [28]:
splits = dDF.randomSplit([0.7, 0.3])
train = splits[0]
test = splits[1]

print ("Train Dataframe Row Count: ")
print (train.count())
print ("Test Datafram Row Count: ")
print (test.count())

Train Dataframe Row Count:
536
Test Datafram Row Count:
232

In [29]:
rf = RandomForestClassifier(labelCol="label", featuresCol="features", numTrees=10)
rf_model = rf.fit(train)

rf_predictions = rf_model.transform(test)
showDF(rf_predictions)

,id,age,bloodpressure,bmi,diabetespedegree,label,plasmaglucose,seruminsulin,timespregnant,tricepthickness,out_bmi,out_plasmaglucose,out_tricepthickness,out_seruminsulin,out_bloodpressure,features,rawPrediction,probability,prediction
0,2,31,66.0,26.600000,0.351,0,85.0,NaN,1,29.0,26.600000,85.0,29.00000,155.548223,66.000000,"[31.0, 66.0, 26.600000381469727, 0.35100001096...","[8.349324188213066, 1.6506758117869345]","[0.8349324188213065, 0.16506758117869344]",0.0
1,5,33,40.0,43.099998,2.288,1,137.0,168.0,0,35.0,43.099998,137.0,35.00000,168.000000,40.000000,"[33.0, 40.0, 43.099998474121094, 2.28800010681...","[4.734329487242798, 5.265670512757202]","[0.47343294872427977, 0.5265670512757202]",1.0
2,10,54,96.0,NaN,0.232,1,125.0,NaN,8,NaN,32.457464,125.0,29.15342,155.548223,96.000000,"[54.0, 96.0, 32.45746368650086, 0.231999993324...","[5.894224127214578, 4.105775872785421]","[0.5894224127214578, 0.4105775872785421]",0.0
3,33,22,58.0,24.799999,0.267,0,88.0,54.0,3,11.0,24.799999,88.0,11.00000,54.000000,58.000000,"[22.0, 58.0, 24.799999237060547, 0.26699998974...","[9.758234811001202, 0.24176518899879781]","[0.9758234811001202, 0.024176518899879783]",0.0
4,50,24,NaN,NaN,0.305,0,105.0,NaN,7,NaN,32.457464,105.0,29.15342,155.548223,72.405184,"[24.0, 72.40518417462484, 32.45746368650086, 0...","[6.191913836544945, 3.8080861634550547]","[0.6191913836544944, 0.38080861634550545]",0.0

In [30]:
# compute accuracy on the test set
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction",
                                              metricName="accuracy")
rf_score = evaluator.evaluate(rf_predictions)
print("Test set accuracy for Random Forest Classifier = " + str(rf_score))

Test set accuracy for Random Forest Classifier = 0.7801724137931034

In [31]:
pipeline = Pipeline(stages=[imputer, assembler, rf])

In [32]:
splits = diabetesDF.randomSplit([0.7, 0.3])
train = splits[0]
test = splits[1]

print ("Train Dataframe Row Count: ")
print (train.count())
print ("Test Datafram Row Count: ")
print (test.count())

Train Dataframe Row Count:
547
Test Datafram Row Count:
221

In [33]:
model = pipeline.fit(train)

In [34]:
prediction = model.transform(test)
showDF(prediction)

,id,age,bloodpressure,bmi,diabetespedegree,label,plasmaglucose,seruminsulin,timespregnant,tricepthickness,out_bmi,out_plasmaglucose,out_tricepthickness,out_seruminsulin,out_bloodpressure,features,rawPrediction,probability,prediction
0,2,31,66.0,26.600000,0.351,0,85.0,NaN,1,29.0,26.600000,85.0,29.000000,157.021818,66.000000,"[31.0, 66.0, 26.600000381469727, 0.35100001096...","[6.9904045279405915, 3.009595472059409]","[0.6990404527940591, 0.30095954720594087]",0.0
1,5,33,40.0,43.099998,2.288,1,137.0,168.0,0,35.0,43.099998,137.0,35.000000,168.000000,40.000000,"[33.0, 40.0, 43.099998474121094, 2.28800010681...","[3.035844073186449, 6.964155926813551]","[0.3035844073186449, 0.6964155926813551]",1.0
2,16,32,NaN,30.000000,0.484,1,100.0,NaN,7,NaN,30.000000,100.0,28.662269,157.021818,72.480916,"[32.0, 72.48091603053435, 30.0, 0.483999997377...","[6.2238205515972105, 3.7761794484027886]","[0.622382055159721, 0.3776179448402789]",0.0
3,30,38,92.0,34.099998,0.337,0,117.0,NaN,5,NaN,34.099998,117.0,28.662269,157.021818,92.000000,"[38.0, 92.0, 34.099998474121094, 0.33700001239...","[3.974485791828168, 6.025514208171832]","[0.3974485791828168, 0.6025514208171832]",1.0
4,52,26,50.0,24.200001,0.526,0,101.0,36.0,1,15.0,24.200001,101.0,15.000000,36.000000,50.000000,"[26.0, 50.0, 24.200000762939453, 0.52600002288...","[9.82753338825974, 0.1724666117402595]","[0.9827533388259739, 0.01724666117402595]",0.0

In [35]:
showDF(train)

,id,age,bloodpressure,bmi,diabetespedegree,label,plasmaglucose,seruminsulin,timespregnant,tricepthickness
0,1,50,72.0,33.599998,0.627,1,148.0,NaN,6,35.0
1,8,29,NaN,35.299999,0.134,0,115.0,NaN,10,NaN
2,10,54,96.0,NaN,0.232,1,125.0,NaN,8,NaN
3,11,30,92.0,37.599998,0.191,0,110.0,NaN,4,NaN
4,13,57,80.0,27.100000,1.441,0,139.0,NaN,10,NaN

In [39]:
model.write().overwrite().save("/home/jovyan/work/models/full_pipeline_model")

In [46]:
sameModel = pyspark.ml.PipelineModel.load("/home/jovyan/work/models/full_pipeline_model")

In [47]:
prediction2 = sameModel.transform(test)